@model List<Library3700.Models.ViewModels.Accounts>

@{
    ViewBag.Title = "LibrarianReport";
}

<br />
@Html.ActionLink("< Back", "Home", "AccountManagement")
<br />
<br />
<h2>Librarian Report</h2>

@{
    var activeAccount = (Library3700.Models.Objects.Account.AccountAdapter)System.Web.HttpContext.Current.Session["activeAccount"];
}

<p>Welcome, @activeAccount.FirstName @activeAccount.LastName</p>

<br /> <br />

@foreach (var account in Model.Where(a => a.AccountItems.Any()))
{
    <h4>Account</h4>
    <ul class="list-group">
        <li class="list-group-item">Account #: @account.AccountID</li>
        <li class="list-group-item">Email: @account.EmailAddress</li>
    </ul>
    <br />
    <h4>Items</h4>
    foreach (var accountItem in account.AccountItems)
    {
        if (account.AccountItems.Count() == 0)
        {
            <h3>This patron has no items checked out</h3>
        }
        else
        {
            <br />
            <table class="table" id="itemTable">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Published</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                <tr data-item-id=@accountItem.itemID>
                    <td>@accountItem.item.Title</td>
                    <td>@accountItem.item.Author</td>
                    <td>@accountItem.item.Genre</td>
                    <td>@accountItem.item.PublicationYear</td>
                    <td>@accountItem.itemStatusText</td>
                </tr>
                </tbody>
            </table>
            <br />
            <hr />
        }

    }

}

<br />
<br />